[submodule "src/dmenu"]
	path = src/dmenu
	url = ./src/dmenu
[submodule "src/dwm"]
	path = src/dwm
	url = ./src/dwm
[submodule "src/dwmblocks"]
	path = src/dwmblocks
	url = ./src/dwmblocks
[submodule "src/st"]
	path = src/st
	url = ./src/st
